.container {
  background-color: #EEE;
  margin: 0 auto;
}

/* SEARCH CONTROLS */
.control {
  background-color: #CCC;
  width: 30%;
  border-radius: 10px;
  float: left;
  padding: 10px;
}
.control input[type="text"] {
  width: 50%;
}

/* SEARCH CONTENT */
.content {
  background-color: #DDD;
  display: inline-block;
  width: 65%;
}

.recipe {
  background-color: #EEE;
  margin: 35px;
  padding: 10px;
  padding-left: 40px;
  border-radius: 50px;
}

.pill {
  background-color: #85AAB5;
  padding: 4px;
  margin: 4px;
  border-radius: 50px;
  display: inline-block;
}

/* CREATE RECIPE */

.create-recipe-container input[type="text"], textarea {
  margin: 10px;
}