<!-- 
ngRepeat: class in (filterResults = (classes | filter:filterSearch | filter:filterDropdown) ) | limitTo:limit track by $index 
-->
<nav class="control">

  <input type="text" placeholder="Search By Name" ng-model="filters.byName">
  <br>

  <label>Breakfast<input type="checkbox" ng-model="filters.mealtime.breakfast"></label>
  <label>Lunch<input type="checkbox" ng-model="filters.mealtime.lunch"></label>
  <label>Dinner<input type="checkbox" ng-model="filters.mealtime.dinner"></label>
  <br>

  <label>Dairy Free<input type="checkbox" ng-model="filters.specialDiet.dairyFree"></label>
  <br>

  <label>Gluten Free<input type="checkbox" ng-model="filters.specialDiet.glutenFree"></label>
  <br>

  <input type="text" ng-model="tagName">
  <button ng-click="addTag(tagName)">Add Tag</button>
  <div>
    <div class="pill" ng-repeat="tag in filters.tags" ng-click="filters.tags.splice($index,1)"> {{tag}}</div>
  </div>

  <input type="text" ng-model="ingredName">
  <button ng-click="addIngred(ingredName)">Add Ingredient</button>
  <br>
  <div>
    <div class="pill" ng-repeat="ingred in filters.ingredients" ng-click="filters.ingredients.splice($index,1)">{{ingred}}</div>
  </div>
</nav>

<main class="content">
  <div class="recipe" ng-repeat="recipe in recipes | filter: filterName | filter: filterIngreds | filter: filterTags | filter: filterMealtime | filter: filterSpecial">
    <h3>{{ recipe.name }} </h3>
    Tags: <div class="pill" ng-repeat="tag in recipe.tags">{{tag}}</div>
    <ul>
      <li ng-repeat="ingredient in recipe.ingredients">
        {{ ingredient.name }}: {{ ingredient.amount }} 
      </li>
    </ul>

  </div>
</main>
